body {
        background-color : gray;
}

*.title {
  font-size : 2.5em;
padding : 0px 20px;
}

div.contents {
padding : 30px 50px;
margin :40px 100px;
background-color : white;
}

p {
padding : 0px 30px;
font-size : 1.5em;
}

img.title {
        border-radius: 50%;
        float: right;
}
